/**************************************************
* reset&common.css
*
* 1 - reset
**************************************************/
@charset "utf-8";

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { border:0; font-size:100%; margin:0; padding:0; vertical-align:baseline; outline:none !important; }
/* HTML5 display-role reset for older browsers */
a { color:#666; }
a, a:hover, a:focus { outline:none; text-decoration:none; color:inherit; }
article, aside, details, figcaption, figure,
footer, header, menu, nav, section { display:block; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:none; }
body { background-color:transparent; font-family: 'Noto Sans KR', sans-serif !important; font-size:14px; letter-spacing:0px !important; line-height:1 !important; -webkit-text-size-adjust:none !important; color:#666; font-weight:300 !important; }
em { font-style:normal; }
ol, ul { list-style:none; }
img { width:100%; height:100%; outline:0; border:0; }
table { border-collapse:collapse; border-spacing:0; width:100%; }

table a:not(.btn), .table a:not(.btn) { text-decoration:none; }

/* ----------------------------------------------------------------------------------------------------
Super Form Reset
A couple of things to watch out for:
- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs
----------------------------------------------------------------------------------------------------*/

input, label, select, button { background:none; border:0; display:inline-block; font-size:14px; line-height:1; margin:0; outline:none; padding:0; vertical-align:middle; white-space:normal; }
textarea { background:none; border:0; display:inline-block; font-size:14px; line-height:1; margin:0; outline:none; padding:0; vertical-align:middle; font-family: 'Noto Sans KR', sans-serif !important; }
label { font-weight:300; cursor:pointer; }

/* Remove the stupid outer glow in Webkit */
input:focus { outline:0; }

/* Box Sizing Reset -----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
input, textarea { -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box; -webkit-border-radius:0; margin: 8px 0; color: #666; }

/* These elements are usually rendered a certain way by the browser */
button, input[type=reset], input[type=button], input[type=submit], input[type=checkbox], input[type=radio], select { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }


/* Text Inputs -----------------------------------------------*/
input[type=text], input[type=password] {
    padding: 0 10px;
    display: inline-block;
    border:1px solid #eee;
    box-sizing: border-box;
    background-color: #ffffff;
}
input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], input[type=number], input[type=password], input[type=range], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week] { }

/* Button Controls -----------------------------------------------*/
input[type=checkbox], input[type=radio] { width:13px; height:13px; vertical-align:text-bottom; cursor:pointer; margin:0; }
input[type=radio] { border-radius:100%; }

/* File Uploads -----------------------------------------------*/
input[type=file] { border:1px solid #eee; }

/* Search Input -----------------------------------------------*/
/* Make webkit render the search input like a normal text field */
input[type=search] { -webkit-appearance:textfield; -webkit-box-sizing:content-box; } 
/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration { display:none; }

/* Buttons -----------------------------------------------*/
button, input[type="reset"], input[type="button"], input[type="submit"] { overflow:visible; /* Fix IE7 display bug */ width:auto; }

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button { padding:0; border:0; background:none; }

/* Textarea -----------------------------------------------*/
textarea { width:100%; resize:none; vertical-align:top; /* Move the label to the top */ overflow:auto; /* Turn off scroll bars in IE unless needed */ padding: 12px 10px; background-color: #ffffff; border:1px solid #eee; box-sizing: border-box; }

/* Selects -----------------------------------------------*/
select { -webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-border-radius:0;margin: 8px 0; color: #666; }
select::-ms-expand { display: none; /* 화살표 없애기 for IE10, 11*/ }
select[multiple] { vertical-align:top; /* Move the label to the top */ }

input, textarea, select, button {
    text-rendering: auto;
    color: #666;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
}

input::placeholder { color:#666; }
textarea::placeholder { color:#666; }
select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: #666;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: #eee;
    border-image: initial;
}

/**************************************************
* slick slide *
**************************************************/
.slick-slider { position:relative; display:block; box-sizing:border-box; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; -webkit-touch-callout:none; -khtml-user-select:none; -ms-touch-action:pan-y; touch-action:pan-y; -webkit-tap-highlight-color:transparent; }
.slick-list { position:relative; display:block; overflow:hidden; margin:0; padding:0; }
.slick-list:focus { outline:none; }
.slick-list.dragging { cursor:pointer; cursor:hand; }
.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform:translate3d(0, 0, 0); -moz-transform:translate3d(0, 0, 0); -ms-transform:translate3d(0, 0, 0); -o-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); }
.slick-track { position:relative; top:0; left:0; display:block; margin-left:auto; margin-right:auto; }
.slick-track:before, .slick-track:after { display:table; content:''; }
.slick-track:after { clear:both; }
.slick-loading .slick-track { visibility:hidden; }
.slick-slide { display:none; float:left; height:100%; min-height:1px; }
[dir='rtl'] .slick-slide { float:right; }
.slick-slide img { display:block; }
.slick-slide.slick-loading img { display:none; }
.slick-slide.dragging img { pointer-events:none; }
.slick-initialized .slick-slide { display:block; }
.slick-loading .slick-slide { visibility:hidden; }
.slick-vertical .slick-slide { display:block; height:auto; border:1px solid transparent; }
.slick-arrow.slick-hidden { display:none; }

/**************************************************
* default *
**************************************************/
.clearfix:after { content:""; display:block; clear:both; overflow:hidden; }
.fl{float: left}
.fr{float: right}
.mTn{margin-top:0 !important;}
.mRn{margin-right:0 !important;}
.mBn{margin-bottom:0 !important;}
.mLn{margin-left:0 !important;}
.bTn{border-top:none !important;}
.bRn{border-right:none !important;}
.bBn{border-bottom:none !important;}
.bLn{border-left:none !important}
.dpB{display: block !important;}
.dpIb{display: inline-block !important;}
.tc{text-align: center !important}
.tl{text-align: left !important}
.tr{text-align: right !important}
.vt{vertical-align: top !important;}
.position-r{position: relative;}
.cb{clear: both;}
.pRn{padding-right:0 !important}
.pLn{padding-left:0 !important}
.pTn{padding-top:0 !important}
.pBn{padding-bottom:0 !important}
.bgN{background: none !important;}
.z-idx{z-index: 10}
.ov{overflow: visible !important}
.wb{word-break: keep-all;}
.ellipsis {  overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap;}
.accessibility{position: absolute; top:-9999em; left:-9999em; width:0%; height: 0%; line-height: 0%; visibility: hidden;}
.lh-24{line-height: 24px;}

.no-mg { margin:0 !important; }
/*  margin-top */
.mt1{margin-top:1px !important;}
.mt2{margin-top:2px !important;}
.mt3{margin-top:3px !important;}
.mt4{margin-top:4px !important;}
.mt5{margin-top:5px !important;}
.mt6{margin-top:6px !important;}
.mt7{margin-top:7px !important;}
.mt8{margin-top:8px !important;}
.mt9{margin-top:9px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt18{margin-top:18px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;}
.mt40{margin-top:40px !important;}
.mt50{margin-top:50px !important;}
.mt60{margin-top:60px !important;}
.mt70{margin-top:70px !important;}
.mt80{margin-top:80px !important;}
.mt90{margin-top:90px !important;}
.mt100{margin-top:100px !important;}

/* margin-right */
.mr5{margin-right:5px !important;}
.mr10{margin-right:10px !important;}
.mr15{margin-right:10px !important;}
.mr20{margin-right:20px !important;}
.mr25{margin-right:25px !important;}
.mr30{margin-right:30px !important;}
.mr40{margin-right:40px !important;}
.mr45{margin-right:45px !important;}
.mr50{margin-right:50px !important;}
.mr60{margin-right:60px !important;}
.mr65{margin-right:65px !important;}
.mr70{margin-right:70px !important;}
.mr75{margin-right:75px !important;}
.mr80{margin-right:80px !important;}
.mr90{margin-right:90px !important;}
.mr100{margin-right:100px !important;}
.mr-20{margin-right:20%; }

/* margin-bottom */
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb18{margin-bottom:18px !important;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px !important;}
.mb30{margin-bottom:30px !important;}
.mb35{margin-bottom:30px !important;}
.mb38{margin-bottom:38px !important;}
.mb40{margin-bottom:40px !important;}
.mb41{margin-bottom:41px !important;}
.mb42{margin-bottom:42px !important;}
.mb43{margin-bottom:43px !important;}
.mb44{margin-bottom:44px !important;}
.mb45{margin-bottom:45px !important;}
.mb50{margin-bottom:50px !important;}
.mb52{margin-bottom:52px !important;}
.mb55{margin-bottom:55px !important;}
.mb58{margin-bottom:58px !important;}
.mb60{margin-bottom:60px !important;}
.mb62{margin-bottom:62px !important;}
.mb65{margin-bottom:65px !important;}
.mb70{margin-bottom:70px !important;}
.mb73{margin-bottom:73px !important;}
.mb75{margin-bottom:75px !important;}
.mb78{margin-bottom:78px !important;}
.mb80{margin-bottom:80px !important;}
.mb85{margin-bottom:85px !important;}
.mb90{margin-bottom:90px !important;}
.mb95{margin-bottom:95px !important;}
.mb100{margin-bottom:100px !important;}


/*  margin-left */
.ml5_minus{margin-left:-5px !important;}
.ml5{margin-left:5px !important;}
.ml0{margin-left:0px !important;}
.ml1{margin-left:1px !important;}
.ml2{margin-left:2px !important;}
.ml3{margin-left:3px !important;}
.ml4{margin-left:4px !important;}
.ml5{margin-left:5px !important;}
.ml6{margin-left:6px !important;}
.ml7{margin-left:7px !important;}
.ml8{margin-left:8px !important;}
.ml9{margin-left:9px !important;}
.ml10{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.ml20 {margin-left:20px !important}
.ml30 {margin-left:30px !important}
.ml35 {margin-left:35px !important}
.ml40 {margin-left:40px !important}
.ml45 {margin-left:45px !important}
.ml50 {margin-left:50px !important}
.ml55 {margin-left:55px !important}
.ml60 {margin-left:60px !important}
.ml70 {margin-left:70px !important}
.ml80 {margin-left:80px !important}
.ml90{margin-left:90px !important;}
.ml100{margin-left:100px !important;}
.ml-10{margin-left:-10px !important;}
.ml-20{margin-left:-20px !important;}
.ml-30{margin-left:-30px !important;}
.ml-40{margin-left:-40px !important;}
.ml-100{margin-left:-100px !important;}



/* padding-top */
.pt0{padding-top:0px !important;}
.pt5{padding-top:5px !important;}
.pt10{padding-top:10px !important;}
.pt15{padding-top:12px !important}
.pt20{padding-top:20px !important;}
.pt30{padding-top:30px !important;}
.pt40{padding-top:40px !important;}
.pt50{padding-top:50px !important;}
.pt60{padding-top:60px !important;}
.pt70{padding-top:70px !important;}
.pt80{padding-top:80px !important;}
.pt90{padding-top:90px !important;}
.pt100{padding-top:100px !important;}
.pt-10{padding-top:-10px !important;}
.pt-20{padding-top:-20px !important;}
.pt-30{padding-top:-30px !important;}
.pt-40{padding-top:-40px !important;}
.pt-100{padding-top:-100px !important;}

/* padding-right */
.pr0{padding-right:0px !important;}
.pr5{padding-right:5px !important;}
.pr10{padding-right:10px !important;}
.pr20{padding-right:20px !important;}
.pr23{padding-right:23px !important;}
.pr26{padding-right:26px !important;}
.pr30{padding-right:30px !important;}
.pr40{padding-right:40px !important;}
.pr45{padding-right:45px !important;}
.pr50{padding-right:50px !important;}
.pr56{padding-right:56px !important;}
.pr60{padding-right:60px !important;}
.pr67{padding-right:67px !important;}
.pr70{padding-right:70px !important;}
.pr77{padding-right:77px !important;}
.pr80{padding-right:80px !important;}
.pr90{padding-right:90px !important;}
.pr95{padding-right:95px !important;}
.pr100{padding-right:100px !important;}


/* padding-bottom */
.pb0{padding-bottom:0px !important;}
.pb5{padding-bottom:5px !important;}
.pb10{padding-bottom:10px !important;}
.pb20{padding-bottom:20px !important;}
.pb30{padding-bottom:30px !important;}
.pb40{padding-bottom:40px !important;}
.pb50{padding-bottom:50px !important;}
.pb60{padding-bottom:60px !important;}
.pb70{padding-bottom:70px !important;}
.pb80{padding-bottom:80px !important;}
.pb90{padding-bottom:90px !important;}
.pb100{padding-bottom:100px !important;}

/* padding-left */
.pl0{padding-left:0px !important;}
.pl5{padding-left:5px !important;}
.pl10{padding-left:10px !important;}
.pl15{padding-left:15px !important;}
.pl20{padding-left:20px !important;}
.pl25{padding-left:25px !important;}
.pl26{padding-left:26px !important;}
.pl30{padding-left:30px !important;}
.pl40{padding-left:40px !important;}
.pl50{padding-left:50px !important;}
.pl60{padding-left:60px !important;}
.pl70{padding-left:70px !important;}
.pl80{padding-left:80px !important;}
.pl90{padding-left:90px !important;}
.pl100{padding-left:100px !important;}



.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus { background-color:transparent; color:inherit; }
