@charset "utf-8";

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/default-skin/default-skin.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.0/css/swiper.min.css);
@import url(datepicker.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css);

/* reset */
html{font-size:14px}
body{font-family:'Noto Sans CJK KR','Noto Sans KR','Malgun Gothic','맑은 고딕','돋움',Dotum,'Apple SD Gothic Neo',sans-serif;word-break:keep-all;word-wrap:break-word;color:#333}
a,button,input,textarea{transition:border-color .4s,background .4s,color .4s,opacity .4s}
a{text-decoration: none !important; color:inherit}
a:hover{ color:inherit}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
li{list-style:none}
address,em{font-style:normal}
label{cursor:pointer}
table{width:100%}

/* XE fix */
body, button, input, select, table, textarea{font-size: inherit}
.x *,
.xm *,
.board *,
#spot .search input[type="text"],
.localNavigation li a{-webkit-box-sizing:content-box;box-sizing:content-box}
#spot{ margin: 30px 0}
/* custom */
.xm{ padding: 30px 0}
.xm .nav{ display: none}
.xm p{ margin-bottom: 15px}

.list-inline-item { margin-bottom:.5rem; }

/* icon */
.icon_sub_line { display:inline-block; width:20px; height:20px; background:url('../img/sub_line.png') no-repeat center; }
.icon_sub_line2 { display:inline-block; width:20px; height:20px; background:url('../img/sub_line2.png') no-repeat center; }

/* typo */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{ font-weight:700;}
.display-1{font-weight:700; font-size:24px}

.card{ box-shadow:0 1px 3px rgba(0,0,0,.1);}
.card-header{background:#fff;font-size:1.2em}

.text-point1 { color:#f4406a; }
.text-bold { font-weight:600; }
.wid_auto { min-width:inherit !important; }
.con_wid { max-width:360px; }

/* btn */
.btn { padding:.375rem .55rem; }
.btn-outline-muted { border-color:#777; color:#777; }
.btn-outline-muted:hover { background-color:#777; color:#fff; }
.btn-xs { padding:.2rem .4rem; font-size:.683rem; line-height:1.5; border-radius:.2rem; }

/* badge */
.badge-xs { padding:0rem .35rem !important; font-size:.75rem !important; border-radius:2rem; }

/* star */
.xi-star { color:#ff4662; }

/* form */
.srch-bx .btn-group,.srch-bx .dropdown-toggle{width:100%}
.srch-bx .dropdown-toggle{text-align: left}
.srch-bx .dropdown-toggle::after{margin-top:.65em}
.srch-bx .input-group-prepend { margin:0; }
.srch-bx select.form-control { border-radius:.25rem 0 0 .25rem; }
.srch-bx .input-group-prepend + .form-control { border-left:0; }
.form-disabled{opacity:.5;pointer-events:none}
.form-disabled.event { pointer-events:inherit; }
.select2-container .select2-selection--single{height:33.5px; border-color:#ced4da; }
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 32px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height: 32px}

/* Table */
.table{text-align: center; }
.table-striped tbody tr:nth-of-type(odd){background:rgba(0,0,0,.01)}
.table td{vertical-align: middle}
.table .num{width:70px}
.table .tit{min-width:30%;font-weight:700; white-space: normal}
.table .date{width:100px; white-space:nowrap; }
.table .adm{width:160px}
.table-view th { background-color:#f9f9f9; }
.table-view td { text-align:left; }
.table-view th, .table-view td { vertical-align:middle; }
.table-view dl { }
.table-view dt { font-weight:normal; display:inline-block; }
.table-view dd { font-weight:normal; display:inline-block; }

.upload-preview li{display: inline-block;position: relative;margin-top:20px}
.upload-preview .del{display: block;position: relative}
.upload-preview .del:after{ content:'X';position: absolute;top:0;right:0;width: 48px;height: 48px;background: rgba(0,0,0,.5);font-weight: 300; font-size:24px;line-height: 48px;text-align: center; color: #fff}

.con_wid240 { max-width:240px; }
.con_wid { max-width:360px; }
.text-truncate2 { white-space:normal; overflow:hidden; text-overflow:ellipsis; max-height:3em; word-wrap:break-word; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; }

/* pagination */
.pagination{margin:30px 0;}
.page-link{color:inherit}

/* nav */
.nav-tabs{margin-bottom:15px}
.nav-tabs a{width:120px;text-align: center}

/* nav */
.badge{padding:.25rem .5rem; font-weight:400; font-size:.833rem; line-height:1.5; }

/* modal */
#modalBest .modal-dialog { max-width:650px; }

#modalEval .modal-dialog { max-width:750px; }
#modalEval table { table-layout:fixed; }
#modalEval table th { background-color:#666; color:#fff; font-weight:400; }
#modalEval .list-dotted { overflow-y:scroll; height:300px; text-align:left; }
#modalEval .list-dotted li { margin-bottom:5px; }
#modalEval .list-dotted li:before { content:""; display:inline-block; width:4px; height:4px; background-color:#333; vertical-align:middle; border-radius:100%; margin:0 5px; }

/* Layout */
body{background: #f3f6fa}
#hd{overflow: auto; position: fixed;top:0;bottom:0;left:0;z-index: 30; width:220px;box-shadow:0 1px 3px rgba(0,0,0,.1);background:#1e1e2d; color: #aaa}
#hd h1{padding:0 20px;font-weight:400; font-size:20px;line-height:64px; background:rgba(0,0,0,.3); color:#fff}
#top{position:fixed;top:0;left:220px;right:0;height:64px;border-bottom: 1px solid #eee; background: #fff;color: #333}
#acc{ position: absolute;top:0;right:0;padding:16px 30px;font-size:16px;}
#acc>a{ margin-left:20px}
.gnb-section{padding:15px 20px 10px;font-weight:500; font-size:1.1em;}
.gnb-section i{font-size:16px}
#gnb li:not(.gnb-section) a{display: block;padding:3px 40px;font-weight: 300}
#gnb .active>a,#gnb a:hover,.gnb-section.active{color: #fff}
#gnb ul ul{ padding: 0 0 5px 15px}
#gnb ul ul a:before{ content: '';display: inline-block; margin-right:6px; width:3px; height:3px; border-radius:50%;background: #999;vertical-align: middle;}
#gnb .badge { margin-left:.15rem; background-color:#f4406a; color:#fff; }
#ct{min-height:600px; padding: 64px 0 92px 220px;}
#content{ padding:20px;}
.ft-fixed{position: fixed;bottom:0;left:220px;right:0;z-index: 10; padding:15px 30px;box-shadow:0 0 8px rgba(0,0,0,.1);background: #fff}

/* sub */
#subHd{ padding: 15px 20px;box-shadow:0 0 8px rgba(0,0,0,.1);background:#fff;}
#subHd h2{font-size:20px}

/* login */
.page-login { overflow:hidden; position:relative; height:100vh; background-color:#f4406a; }
.page-login:before { content:""; display:block; position:absolute; left:0; right:0; top:50%; height:200%; background-color:#00cab5; transform:skewY(45deg); }
#login{ position: absolute;top:50%;left:50%; width:30%; max-width:500px; padding: 40px;background: #fff; transform: translate(-50%,-50%)}
#login h1{margin-bottom:30px; font-size:32px; text-align: center}

/* list */

/* view */
.wrt{max-width:800px; padding:20px}
.wrt .col-form-label em.text-danger { display:inline-block; vertical-align:middle; font-style:normal; }
.wrt .form-text { margin-top:calc(.375rem + 1px); }
.wrt .form-text.margin li { margin-bottom:1rem; }
.wrt .form-text dl { overflow:hidden; }
.wrt .form-text dt { float:left; font-weight:normal; width:90px; position:relative; }
.wrt .form-text dt:after { content:"-"; display:inline-block; margin:0 1rem; position:absolute; right:0; }
.wrt .form-text dd { float:left; }

.wrt .form-img { text-align:center; margin-bottom:1rem; overflow:hidden; }
.wrt .form-img li { float:left; width:50%; }

.txt-sm { font-size:0.833em; }

/* preview */
.preview { width:100%; max-width:618px; }
.preview.wrt { max-width:790px; float:left; }
.preview.wrt-memo { float:left; max-width:600px; width:100%; min-height:1000px; border-left:1px solid #d9d9d9; margin-left:-1px; }
.preview.wrt-memo .wrt { max-width:inherit; width:auto; }
.clearfix:after { content:""; display:block; clear:both; float:none; }

em.text-danger { display:inline-block; vertical-align:middle; }

.text-magenta { color:#f80b7a !important; }
[class^=icon-] { display:inline-block; overflow:hidden; margin:0; padding:0; border:0; background-color:transparent; background-position:50% 50%; background-repeat:no-repeat; background-size:auto 100%; font-size:0; line-height:0; text-decoration:none; vertical-align:middle; text-indent:-1000em }
.icon_sub_line { display:inline-block; width:20px; height:20px; background:url('../img/sub_line.png') no-repeat center; }
.icon-arrow-down { width:7px; height:10px; margin-right:3px; background:url("../img/icon-arrow-down.png") no-repeat center; background-size:7px; }
.icon-arrow-down.large { width:12px; height:17px; background-size:12px; }
.icon-anesthesia { background:url('../img/icon-anesthesia.png') no-repeat center; background-size:25px; }
.icon-requiredtime { background:url('../img/icon-requiredtime.png') no-repeat center; background-size:25px; }
.icon-inpatientperiod { background:url('../img/icon-inpatientperiod.png') no-repeat center; background-size:25px; }
.icon-removesill { background:url('../img/icon-removesill.png') no-repeat center; background-size:25px; }
.icon-domesticvisits { background:url('../img/icon-domesticvisits.png') no-repeat center; background-size:25px; }
.icon-recoveryperiod { background:url('../img/icon-recoveryperiod.png') no-repeat center; background-size:25px; }
.icon-parallel { background:url('../img/icon-parallel.png') no-repeat center; background-size:25px; }

.rejectarea { padding:.25rem .75rem; margin:0 0 1rem; background-color:#fcf8e3; }
.view { background-color:#fafafa; }
.view-swiper { background:#fff }
.view-event img { display:block; position:relative; width:100%; background:no-repeat 50% 50% / cover; transition:all .4s cubic-bezier(0.680, -0.550, 0.265, 1.550) }

.view-hd { padding:15px 15px 0; background:#fff; }
.view-hd h2 { padding:0 0 3px; font-size:1.416rem; color:#131313; text-align:left; }
.view-hd .sub-tit { padding:0 0 3px; font-size:1.083rem; color:#424242; }
.view-hd .date { display:inline-block; padding:0 5px; background-color:#f3f3f3; border:1px solid #e1e1e1; border-radius:3px; color:#131313; }
.view-meta { padding:0 15px 12px; background-color:#fff; text-align:right; }
.view-meta strong { font-size:1.666rem; line-height:1; }

.position-relative { background:#fafafa; padding-top:15px; }
.view-body { padding:0 15px 0; margin-bottom:15px; background-color:#fff; }
.view-sect-full { margin:0 -15px; padding-bottom:2.333rem; background-color:#fff; }
.view-sect { position:relative; padding:0 15px; }
.view-sect:last-child { border-bottom:0 none; }

.view-sect-hd { position:relative; display:inline-block; z-index:1; padding:4.166rem 0 0; font-size:1.416rem; color:#131313; }
.view-sect-hd:after { content:""; display:inline-block; position:absolute; left:0; right:0; bottom:0; width:100%; height:0.5rem; border-radius:0.25rem; background-color:#3bebda; z-index:-1; }
.view-sect-tit-sub { margin-left:5px; font-size:1.083rem; color:#424242; }
.view-sect-tit-sub .btn { margin-top:-5px; padding:2px 8px; }

.view-cnt { font-size:1.166rem; color:#424242; margin-top:2.083rem; }
.view-cnt .tit { font-size:1.083rem; color:#131313; font-weight:600; }
.view-cnt figure { margin:0 0 5px; }
.view-cnt .caption { color:#424242; font-size:0.914rem; }
.view-cnt .margin { margin-bottom:-3rem; }
.view-cnt .profile.rect img, .view-cnt .rect .img { width:100%; height:100%; }
.information { padding:5px 10px; border-radius:3px; color:#a7a7a7; background-color:#fafafa; }

.lst-feature { padding:30px 0 0; text-align:left; font-size:0 }
.lst-feature li { display:inline-block; width:16.6%; max-width:65px; font-size:0.833rem; line-height:1.1; vertical-align:top; text-align:center; color:#131313; }
.lst-feature i { display:block; margin-bottom:10px; font-size:28px; color:#f4406a }
.lst-feature i[class^="icon-"] { width:25px; height:27px; margin:0 auto 10px; }
.lst-feature b { display:block; margin:5px 0 30px; font-size:1.083rem; }
.lst-feature2 li { width:25%; max-width:inherit; }
.lst-feature2 li { font-size:1rem; }

.lst-wrap > .title { font-size:16px; }
.lst-tmb { display:flex; margin:5px -7px; flex-wrap:wrap; }
.lst-tmb li { position:relative; margin:5px; }
.lst-tmb li.active { border:2px solid #f4406a; }
.lst-tmb li.active:after { content:""; position:absolute; left:0; right:0; top:0; bottom:0; background-color:rgba(244,64,106,.2); }
.lst-tmb a { overflow:hidden; position:relative; display:flex; width:60px; }
.lst-tmb a:before { content:''; padding-bottom:100% }
.lst-tmb a > img { position:absolute; top:0; left:0; width:100%; height:100%; object-fit:cover }
.lst-tmb2 { display:flex; flex-wrap:wrap; margin:5px 0; font-size:0; }
.lst-tmb2 li { position:relative; flex:1 1 auto; max-width:50%; padding:0; margin-bottom:10px; }
.lst-tmb2 li .badge { position:absolute; left:0; top:0; padding:.5em; border:0; background:rgba(0,0,0,0.8); border-radius:0; color:#fff; }

.lst-tmb3 { display:inline-flex; flex-wrap:nowrap; }
.lst-tmb3 li { position:relative; flex:0 0 auto; max-width:60px; padding:0; margin-left:10px; }
.lst-tmb3 li .shadow { width:100%; height:100%; position:absolute; left:0; top:0; z-index:9; background-color:rgba(0,0,0,.6); color:#fff; line-height:60px; }

.lst-faq li { padding:5px 10px 5px 15px; margin:10px 0; border-radius:2rem; color:#424242; font-size:1.083rem; }
.lst-faq .f { background-color:#e5f7f5; border-top-left-radius:0; }
.lst-faq .f:before { content:"Q."; display:inline-block; font-weight:900; font-size:1.416rem; }
.lst-faq .q { background-color:#f0f0f0; border-top-right-radius:0; }
.lst-faq .q:before { content:"A."; display:inline-block; font-weight:900; font-size:1.416rem; }
.lst-faq .line { padding:0; border-top:0.5px dashed #ccc; border-radius:0; }

.select2-results__options { padding:6px 6px 6px 30px; }
.select2-results__options li { position:relative; padding-left:0; }
.select2-results__options li:before { content:''; position:absolute; left:-25px; top:50%; display:inline-block; width:1.166rem; height:1.166rem; margin-top:-.6em; border:1px solid #d9d9d9; border-radius:50%; -webkit-transition:border 0.15s ease-in-out, color 0.15s ease-in-out; -o-transition:border 0.15s ease-in-out, color 0.15s ease-in-out; transition:border 0.15s ease-in-out, color 0.15s ease-in-out; background-color:#ffffff; }
.select2-results__options li:hover:before { background-color:#f4406a; border-color:#f4406a; }
.select2-results__options li:hover:after { content:''; position:absolute; top:50%; left:-23px; width:12px; height:9px; margin-top:-5px; background:url("../img/icon-check.png") no-repeat center; background-size:12px; }
.select2-container--default .select2-results__option[aria-selected=true] { background-color:transparent; }
.select2-container--default .select2-results__option--highlighted[aria-selected] { background-color:transparent; color:inherit; }

/* web */
@media screen and (min-width:1200px){

}
@media screen and (min-width:992px){
}

/* mobile */
@media screen and (max-width:992px){
	
}
@media screen and (max-width:767px){
	
}