body {
	margin: 0;
	padding: 0;
	background: #fff;
}

#menu {
	position: absolute;
	right: 0;
	top: 0;
	min-height: 100%;
}

#pushobj {
	position: absolute;
	top: 55px;
	right: 0px;
	color: #000;
	font-size: 2em;
	z-index: 1;
}