@charset "utf-8";
.txt_bar { color:#898989; display:inline-block; font-size:10px; margin:0 10px; }

.ell1{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ell2 {
    height:2.8em;
    white-space: normal; 
    word-wrap: break-word; 
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow:ellipsis; 
}
.ell3 {
    height:4.2em;
    white-space: normal; 
    word-wrap: break-word; 
    display: -webkit-box; 
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow:ellipsis; 
}
.ell4 {
    height:5.6em;
    white-space: normal; 
    word-wrap: break-word; 
    display: -webkit-box; 
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow:ellipsis; 
}
.ell5 {
    height:7em;
    white-space: normal; 
    word-wrap: break-word; 
    display: -webkit-box; 
    -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow:ellipsis; 
}

/* mobile */
@media (max-width:991px) {
    .mobile-only { display:block; }
    .pc-only { display:none; }
}
@media (min-width:992px) {
    .mobile-only { display:none; }
    .pc-only { display:block; }
}

/* hiddencontents */
.hiddencontents { display:none; -webkit-animation-name: animatetop; -webkit-animation-duration: 1s; animation-name: animatetop; animation-duration: 1s; }
.hiddencontents.on { display:block; }

/**************************************************
* 1 - common
**************************************************/
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 8px;
    padding-right: 8px;
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 7px;
    padding-right: 7px;
}
@media (min-width:1310px) {
    .container{
        padding: 0;
    }
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        padding: 0;
    }
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 8px;
    padding-right: 8px;
}
.padd_reset .row{
    margin-left: -8px;
    margin-right: -8px;
}
.padd_reset .col-md-4{
    padding-left: 8px;
    padding-right: 8px;
}
.padd_reset .col-md-3{
    padding-left: 8px;
    padding-right: 8px;
}

.ep { box-sizing:border-box; padding-left:15px !important; padding-right:15px !important; }
.np { padding-left:0px !important; padding-right:0px !important; }

/**************************************************
*   1.3 - input type, margin, paddin
**************************************************/
input[type="text"].input_type1{
    width: 90%;
    height: 20px;
    padding: 0;
}
input[type="text"].input_type2{
    width: 24.5%;
    height: 20px;
    padding: 0;
}
input[type="checkbox"].input_type3{
    vertical-align: bottom;
}
select.select_type1{
    width: 90%;
    padding: 0;
}
select.select_type2{
    width: 100px;
    padding: 0;
    margin: 5px 0;
}
.textarea_type1{
    overflow-x: hidden;
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    height: 48px;
    resize: none;
}

/**************************************************
* table_num
**************************************************/
.table_num { text-align:center; width:100%; box-sizing:border-box; overflow:hidden; clear:both; display:block; }
.table_num ul { margin:30px auto 0; }
.table_num ul li { border:1px solid #cccccc; display:inline-block; height:30px; margin-left:5px; text-align:center; width:30px; box-sizing:border-box; }
.table_num ul li a { color:#333; display:block; font-family: 'Noto Sans KR', sans-serif !important; font-size:14px; line-height:28px; box-sizing:border-box; }
.table_num ul li a[title^="Next"] { background:#f1f1f1; display:block; height:100%; width:100%; }
.table_num ul li a[title^="Prev"] { background:#f1f1f1; display:block; height:100%; width:100%; }
.table_num ul li.on { border-color:#0082a8; }
.table_num ul li.on a { color:#0082a8; }

@media (max-width:480px) {
    .table_num ul { }
    .table_num ul li { height:26px; width:26px; }
    .table_num ul li a { line-height:24px; font-size:13px; }
}

/**************************************************
*   1.0 - contents
**************************************************/
/**************************************************
*   1.1 - intro
**************************************************/
@media (min-width:0) {
    .intro_wrapper { position:fixed; width:100%; height:100%; background:url("../images/contents/intro_bg.jpg") no-repeat 0 0; background-size:cover; }
    .intro_wrapper .top_menu_2 { display:block; position:absolute; top:0px; background-color:transparent; border-bottom:1px solid #ccc; width:99%; left:50%; margin-left:-49.5%; box-sizing:border-box; box-shadow:none; }
    .intro_wrapper .top_menu_2 .navbar { min-height:40px; }
    .intro_wrapper .main_menu1 { top:17px; }
    .intro_wrapper .main_menu1 li a { color:#fff !important; font-weight:300; }
    .intro_wrapper #pushobj { top:5px; }
    .intro_wrapper #menu { top:0; }
    
    .intro_wrapper #pushobj .nav-pills > li > a, .intro_wrapper #pushobj .nav-pills > li.active > a, .intro_wrapper #pushobj .nav-pills > li > a:hover, .intro_wrapper #pushobj .nav-pills > li > a:focus { color:#fff; }
    
    /* 인트로 슬라이드 */
    .intro_banner { margin:0px auto 0; position: relative; }
    .intro_banner_wrapper { position:relative; }
    .intro_banner_wrapper h2 { text-align:center; color:#fff; width:100%; padding-top:20%; line-height:1.4; font-size:24px; }
    .intro_banner_wrapper h2 span { width:80px; display:inline-block; vertical-align:middle; margin-right:5px; }
    .intro_banner_wrapper h2 em { color:#22bdb6; font-weight:600; }
    .intro_banner_wrapper .slick-slide { transition:all 0.5s ease-in-out; z-index:100; cursor:pointer; position:relative; background-color:rgba(255,255,255,0.1); text-align:center; border-radius:50%; box-sizing:border-box; width:280px; height:280px; margin:30px 10px; }
    .intro_banner_wrapper .slick-slide.slick-center { opacity:1; z-index:101; width:280px; height:280px; background-color:rgba(255,255,255,0.8); margin-top:25px; }
    .intro_banner_wrapper .slick-slide .txtbox { line-height:1.4; position:absolute; top:25%; padding:0 20px; box-sizing:border-box; width:100%; }
    .intro_banner_wrapper .slick-slide .txtbox .txt1 { font-size:24px; color:#9bcc22; transition:all 0.5s; }
    .intro_banner_wrapper .slick-slide .txtbox .txt2 { font-size:14px; color:#fff; transition:all 0.5s; }
    .intro_banner_wrapper .slick-slide .txtbox .btn a { color:#fff; border:1px solid #fff; font-size:14px; height:32px; line-height:30px; padding:0 15px; display:inline-block; transition:all 0.5s; }
    .intro_banner_wrapper .slick-slide.slick-center .txtbox .txt1 { font-size:32px; color:#d4322f; }
    .intro_banner_wrapper .slick-slide.slick-center .txtbox .txt2 { color:#000; }
    .intro_banner_wrapper .slick-slide.slick-center .txtbox .btn a { color:#232323; border-color:#232323; }
    .intro_banner_wrapper .slick-slide.slick-center .txtbox .btn:hover a { background-color:#232323; color:#fff; }
    
    .intro_banner .dotsset { text-align:center; display:block; width:100%; position:absolute; left:0; bottom:-10px; }
    .intro_banner .dotsset li { display:inline-block; margin:0 3px; }
    .intro_banner .dotsset li button { width:14px; height:14px; font-size:0; background-color:#232323; text-indent:-9999px; border-radius:100%; }
    .intro_banner .dotsset li.slick-active button { background-color:#d4332f; }
    
}
@media (min-width:768px) {
    .intro_banner { margin:30px auto; }
    
    .intro_banner_wrapper h2 { font-size:40px; padding-top:15%; }
    .intro_banner_wrapper h2 span { width:120px; margin-right:10px; }
}
@media (min-width:992px) {
    .intro_wrapper #pushobj { top:40px; }
    .intro_wrapper .top_menu_2 { top:40px; border-top:1px solid #ccc; }
    .intro_banner { margin:20px auto 50px; }
    
    .intro_banner_wrapper .slick-slide { width:300px; height:300px; margin:40px 50px; }
    .intro_banner_wrapper .slick-slide.slick-center { width:350px; height:350px; }
    .intro_banner_wrapper .slick-slide .txtbox { padding:0 30px; top:30%; }
    .intro_banner_wrapper .slick-slide.slick-center .txtbox .txt1 { font-size:38px; }
    
    .intro_banner_wrapper h2 { font-size:40px; padding-top:15%; }
    .intro_banner_wrapper h2 span { width:120px; margin-right:10px; }
}
@media (min-width:1024px) {
    
}
@media (min-width:1310px) { 
    .intro_banner_wrapper h2 { padding-top:12%; }
    .intro_banner { margin:50px auto; }
}



/**************************************************
*   1.1 - header - #pushobj
**************************************************/
@media (min-width:0) {
    #pushobj { color:#000; font-size:2em; position:fixed; right:10px; top:45px; z-index:999; }
    #pushobj .nav-pills > li.active > a { background-color:transparent; border:none; }
    #pushobj .nav-pills > li > a { background-color:transparent; border:none; color:#1a242f; display:block; padding:10px; }
    #pushobj .nav-pills > li.active > a, #pushobj .nav-pills > li > a:hover, #pushobj .nav-pills > li > a:focus { background-color:transparent; border:none; color:#1a242f; }
    #pushobj .nav-pills > li.active > a { display:none; }
}
@media (min-width:1310px) {
    #pushobj { display:none; }
}

/**************************************************
*   1.1 - header - #menu
**************************************************/
@media (min-width:0) {
    #menu { min-height:100%; opacity:0; position:fixed; right:0; top:40px; z-index:998; }
    #menu .mlpm_w a { box-sizing:border-box; color:#787878; padding:.5em .2em; }
    #menu .mlpm_w a i { color:#787878; }
}
/**************************************************
*   1.1 - header - .top_bg (상단 사이트맵)
**************************************************/
@media (min-width:0) {
    .top_bg { background-color:#474747; height:40px; position:fixed; top:0; width:100%; z-index:998; }
    .top_bg .top_wrapper { padding:0; }
    .top_bg .top_wrapper .cs_tel { color:#fff; float:left; font-size:14px; line-height:40px; }
    
    .top_bg .top_wrapper .top_language_wrapper { display:block; float:right; margin:5px 0 0 7px; }
    .top_bg .top_wrapper .top_language_wrapper > div { float:right; margin-left:3px; }
    
    .top_bg .top_wrapper .top_language { position:relative; }
    .top_bg .top_wrapper .top_language .form-control { background-color:#1c2730; border:1px solid #1c2730; color:#ffffff; font-size:12px; height:inherit; display:inline-block; font:inherit; margin:0; outline:none; padding:4px 3px 3px 5px; font-size:12px; }
    .top_bg .top_wrapper .top_language:after { background:#1c2730; border-radius:4px; bottom:0; color:#ffffff; content:"▼"; font-size:60%; line-height:30px; padding:0 7px; pointer-events:none; position:absolute; right:0; top:0; }
    
    .top_bg .top_wrapper .top_social { float:right; position:relative; }
    .top_bg .top_wrapper .top_social .form-control { background-color:#1c2730; border:1px solid #1c2730; color:#ffffff; font-size:12px; height:inherit; display:inline-block; font:inherit; margin:0; outline:none; padding:4px 3px 3px 5px; font-size:12px; }
    .top_bg .top_wrapper .top_social:after { background:#1c2730; border-radius:4px; bottom:0; color:#ffffff; content:"▼"; font-size:60%; line-height:30px; padding:0 7px; pointer-events:none; position:absolute; right:0; top:0; }
    
    .top_bg .top_wrapper .top_sitemap_wrapper { float:right; }
    .top_bg .top_wrapper .top_sitemap1 { display:none; }
    .top_bg .top_wrapper .top_sitemap1 li { float:left; }
    .top_bg .top_wrapper .top_sitemap1 li a { color:#ffffff; font-size:12px; line-height:40px; }
    
}
@media (min-width:480px) {
    
}
@media (min-width:768px) {
    .top_bg.container-fluid { padding-left:7px; padding-right:7px; }
    .top_bg .top_wrapper .cs_tel { font-size:16px; }
}
@media (min-width:992px) {
    .top_bg.container-fluid { padding:0; }
    .top_bg .container { padding:0 15px; }
    
    .top_bg .top_wrapper .top_language_wrapper { margin:5px 0px 0px 20px; }
}
@media (min-width:1024px) {
    .top_bg .top_wrapper .top_sitemap1 { display:block; }
}
@media (min-width:1310px) {
    .top_bg { position:inherit; width:auto; z-index:1; }
    .top_bg .container { padding:0; }
    
    .top_bg .top_wrapper .top_social { display:block; }
}
/**************************************************
*   1.1 - header - .top_menu_2 (상단 메뉴)
**************************************************/
@media (min-width:0) {
    .top_menu_2 { background-color:white; position:fixed; top:40px; width:100%; z-index:995; border-bottom:1px solid #ccc; }
    .top_menu_2 .navbar { margin:10px 0; min-height:35px; position:relative; }
    
    .top_menu_2 .imgbox { display:inline-block; position:relative; width:120px; }
    .top_menu_2 .imgbox img { height:100%; width:100%; max-width:80%; }
    
    .top_menu_2 .main_menu1 { display:none; float:right; position:relative; top:15px; }
    .top_menu_2 .main_menu1 li { float:left; margin-left:20px; }
    .top_menu_2 .main_menu1 li a { color:#4d4d4d; display:block; font-size:19px; font-weight:400; }
}
@media (min-width:480px) {
    .top_menu_2 .imgbox img { max-width:80%; }
}
@media (min-width:1310px) {
    .top_menu_2 { position:inherit; width:inherit; }
    .top_menu_2 .navbar { margin-top:0; }
    .top_menu_2 .imgbox { top:7px; }
    .top_menu_2 .main_menu1 { display:block; }
    
}

/**************************************************
* footer *
**************************************************/
@media (min-width:0) {
    footer { background-color:#262626; width:100%; height:auto; overflow:hidden; position:relative; }

    /* bottom_lnb */
    footer .bottom_lnb { border-bottom:1px solid #6b6b6b; height:80px; }
    footer .bottom_lnb ul { width:100%; }
    footer .bottom_lnb ul li { background:0; width:25%; height:40px; float:left; text-align:center; background:url("../images/footer/bg_bar_01.png") no-repeat 100% 50%; }
    footer .bottom_lnb ul li:nth-child(4n) { background:0; }
    
    footer .bottom_lnb ul li a { display:block; line-height:40px; padding:0; color:#afafaf; }
    footer .bottom_lnb ul li a i { font-style:normal; display:block; line-height:1; text-align:center; margin-top:5px; }
    
    /* utill */
    footer .footer_nav { width:100%; position:relative; }
    footer .footer_nav .utill_wrap { position:absolute; right:10px; top:5px; width:120px; }
    footer .footer_nav .utill { border:0; width:80px; margin:0 auto; }
    footer .footer_nav .utill ul { position:relative; }
    footer .footer_nav .utill ul li { padding-right:7px; }
    footer .footer_nav .utill ul li a { display:block; width:20px; height:20px; }
    footer .footer_nav .utill ul li a img {width:100%; height:100%; }
    
    footer .footer_nav .utill .btnset .slick-arrow { display:block; width:10px; height:10px; position:absolute; top:50%; margin-top:-5px; font-size:0; text-indent:-9999px; z-index:45; }
    footer .footer_nav .utill .btnset .slick-prev { left:0; background:url("../images/contents/prev03.png") no-repeat 0 0; background-size:contain; }
    footer .footer_nav .utill .btnset .slick-next { right:0; background:url("../images/contents/next03.png") no-repeat 0 0; background-size:contain; }
    
    /* copyright */
    footer .copyright { height:auto; padding-top:15px; }
    footer .copyright h1 { width:120px; margin:0 auto; float:none; text-align:center; }

    /* address */
    footer .copyright address { width:100%; float:none; margin:20px 0; padding:0 10px; text-align:center; }
    footer .copyright address p { color:#afafaf; line-height:1.6; font-size:13px; }
    footer .copyright address p .txt_bar { vertical-align:text-top; }
    footer .copyright address .copy { margin-top:5px; }
    footer .copyright address .copy b { color:#22bdb6; }

    /* caution */
    footer .copyright .foot_caution { border:1px solid #ddd; padding:10px; width:95%; float:none; margin:0 auto 50px; }
    footer .copyright .foot_caution p { color:#afafaf; word-break:keep-all; font-size:11px; line-height:1.4; }
    footer .copyright .foot_caution button { padding:5px; background-color:#999; color:#fff; margin-top:7px; }
    
}
@media (min-width:768px) {
    footer .footer_nav .utill_wrap { width:auto; }
    footer .footer_nav .utill { width:140px; }
    
    footer .footer_nav { width:auto; margin:0 2%; }
    footer .footer_nav .utill_wrap { top:0; right:0; }
    footer .footer_nav .utill { border:0; position:absolute; right:0; top:-30px; }
}
@media (min-width:992px) {
    footer .bottom_lnb { height:40px; line-height:40px; }
    footer .bottom_lnb ul { width:100%; }
    footer .bottom_lnb ul li { height:40px; width:auto; background:url("../images/footer/bg_bar_01.png") no-repeat 0% 50% !important; }
    footer .bottom_lnb ul li:first-child { background:0 !important; }
    footer .bottom_lnb ul li a { line-height:40px; padding:0 22px; }
    footer .bottom_lnb ul li a i { display:inline-block; line-height:1; text-align:center; margin-top:5px; }
    footer .bottom_lnb ul li a i:first-child { margin-top:15px; }

    footer .copyright h1 { width:15%; float:left; margin-top:10px; }
    footer .copyright h1 img { width:120px; margin:0 auto; }
    
    footer .copyright address { width:85%; margin:0 0 10px; text-align:left; float:left; }

    footer .copyright .foot_caution { width:95%; float:none; clear:both; margin:0 auto 30px; }
}
@media (min-width:1280px) {
    footer .bottom_lnb { height:40px; line-height:40px; }
    footer .bottom_lnb ul { width:1280px; margin:0 auto; }
    footer .bottom_lnb ul li { float:left; width:auto; height:40px; background:url("../images/footer/bg_bar_01.png") no-repeat 0 50%; }
    footer .bottom_lnb ul li:first-child { background:0; }
    footer .bottom_lnb ul li a { display:block; line-height:40px; padding:0 20px; color:#afafaf; }
    footer .bottom_lnb ul li a i { display:inline-block; line-height:40px; margin-top:0; }
    footer .bottom_lnb ul li a i:first-child { margin-top:0; }

    /* utill */
    footer .footer_nav { width:1280px; margin:0 auto; position:relative; }
    footer .footer_nav .utill { border:0; position:absolute; right:0; top:-30px; }
    footer .footer_nav .utill ul li { padding-right:7px; float:left; }

    /* copyright */
    footer .copyright { height:140px; padding-top:15px; }
    footer .copyright h1 { width:15%; text-align:center; }

    /* address */
    footer .copyright address { float:left; width:60%; margin:0; }
    footer .copyright address .copy { margin-top:5px; }
    footer .copyright address .copy b { color:#22bdb6; }

    /* caution */
    footer .copyright .foot_caution { border:1px solid #ddd; padding:10px; width:25%; float:left; clear:none; }
    footer .copyright .foot_caution p { color:#afafaf; word-break:keep-all; font-size:11px; line-height:1.4; }
    footer .copyright .foot_caution button { padding:5px; background-color:#999; color:#fff; margin-top:7px; }
}

/**************************************************
* 3 - top scroll button
**************************************************/
#top_scroll { background-color:#000000; border:1px solid #cccccc; bottom:30px; color:#ffffff; display:inline-block; font-weight:bold; padding:7px; position:fixed; right:10px; z-index:99; }
#top_scroll a { display:block; font-size:12px; font-weight:100; text-align:center; }
#top_scroll a i { display:block; }

@media (min-width: 1440px) { 	
    #top_scroll { margin-right:-700px; right:50%; }
}

/**************************************************
* 4 - file
**************************************************/
div[id^=file] { position:relative; overflow:hidden; }
.file_input_box { width:100%; }
.file_input_div1 { background-color:#333; color:#fff; display:inline-block; height:30px; line-height:30px; overflow:hidden; text-align:center; vertical-align:middle; width:70px; position:absolute; right:0; top:0; margin:3px 0; }
.cctable .file_input_box { width:90%; }
/*.file_input_box input { width:90%; }*/
.file_input_div2 { background-color:#333; color:#fff; display:inline-block; height:30px; line-height:30px; overflow:hidden; text-align:center; vertical-align:middle; width:70px; position:absolute; right:50%; top:0; }
.file_input_div3 { background-color:#333; color:#fff; display:inline-block; height:30px; line-height:30px; overflow:hidden; text-align:center; vertical-align:middle; width:70px; position:absolute; right:10%; top:0; }
.file_input_div4 { background-color:#333; color:#fff; display:inline-block; height:30px; line-height:30px; overflow:hidden; text-align:center; vertical-align:middle; width:70px; position:absolute; right:10%; top:0; }
/*.file_input_img_btn*/
.file_input_img_btn { display:block; color:#fff; }
.file_input_hidden { cursor:pointer; filter:alpha(opacity=0); -ms-filter:alpha(opacity=0); font-size:0; height:30px; opacity:0; position:absolute; right:0px; top:0px; width:70px; box-sizing:border-box; }

/**************************************************
* 5 - button
**************************************************/
.btn_wrap { text-align:center; display:block; clear:both; width:100%; margin-top:20px; }
.btn_wrap a { display:inline-block; font-size:15px; height:40px; line-height:40px; text-align:center; padding:0 25px; margin:0 5px; }
.btn_wrap a.submit { border:1px solid #00529b; color:#00529b; transition:all 0.5s; }
.btn_wrap a.cancle { border:1px solid #ccc; color:#333; }
.btn_wrap a.request { border:1px solid #00529b; color:#00529b; transition:all 0.5s; margin-top:20px; }

.btn_wrap a.submit:hover { background-color:#00529b; color:#fff; }
.btn_wrap a.request:hover { background-color:#00529b; color:#fff; }

.btn_wrap.btn_ezon { position:absolute; left:0; bottom:-60px; z-index:1; background-color:#f5f5f5; margin:0; padding:10px 0; }
.btn_wrap.btn_ezon.fixed { position:fixed; }

@media (min-width:0) {
    .portfolio_wrapper .more_btn { margin-top:10px; }
    .more_btn { margin-top:30px; text-align:center; }
    .more_btn a { display:inline-block; width:90px; padding-right:25px; background:url("../images/contents/btn_more.png") no-repeat right 70%; font-size:20px; color:#333333; }
}
@media (min-width:992px) {
    .btn_wrap.btn_ezon { background-color:transparent; }
    .portfolio_wrapper .more_btn { margin-top:30px; }
}

/**************************************************
* 6 - testmodal
**************************************************/
@media (min-width:0) {
    a.testmodal { border-radius:5px; color:#FFF; padding:3px 16px; background-color:#00529b; display:none; }
}
@media (min-width:992px) {
    .modal.testmodal .modal-dialog { width:392px; }
    .modal.testmodal { background:rgba(0,0,0,0.1); }
    .modal.testmodal .modal-content { background:none; background-clip:padding-box; border:none; border-radius:0; box-shadow:none; outline:0; position:relative; -webkit-background-clip:padding-box; -webkit-box-shadow:none; }
    .modal.testmodal .modal-body { display:inline-block; }
    .testmodalnav a { color:#FFF; font-size:30px; margin-right:20px; cursor:pointer; }
    .testmodalnav .mclosebtn { margin-right:0px; position:relative; top:1px; float:right; }
    .testmodalnav .mclosebtn:hover i { color:#fff; }
    .modal.testmodal iframe { border:solid 3px #464646; height:800px; width:392px; }
}
/**************************************************
* 7 - modal-price
**************************************************/
@media (min-width:0) {
    .modal-content { display:inline-block; }
    .modal-body { display:inline-block; }
    .modal.modal_price .modal-dialog { width:320px; margin:50px auto; }
    .mclosebtn { margin-right:0px; position:relative; top:1px; float:right; }
/*    .mclosebtn:hover i { color:#fff; }*/
    .popup_header { float:left; }
    .popup_header .header_title { font-size:20px; }
    
    .modal.modal_price .txt2 { }
    .modal.modal_price .txt2 .txt1_q { float:left; }
    .modal.modal_price .request_price_wrapper .price_div2 { overflow:hidden; height:40px; line-height:40px; }
    .modal.modal_price .request_price_wrapper .price_div2 > p { float:left; font-size:14px; vertical-align:middle; }
    .modal.modal_price .request_price_wrapper .price_div2 > p input { margin:0 5px; width:100px; height:30px; line-height:30px; vertical-align:middle; border:1px solid #ccc; }
    .btn_pop_wrapper { width:100%; text-align:center; clear:both; margin-top:20px; }
    .btn_pop_wrapper a { height:30px; line-height:30px; display:inline-block; padding:0 10px; background-color:#333; color:#fff; }
}
/**************************************************
* 9 - mobile, tablet iframe
**************************************************/
/**************************************************
---------------------------------------------
PIXEDEN // Resource license terms
---------------------------------------------
All our resources are royalty free for use in both personal and commercial projects.

You can modify any resources to your liking to fit into your project, we are however not legally liable for any misuse of our resources.

We do not ask for you to include any attribution or link back to Pixeden.com, we do however appreciate if you do credit our resources or/and help spread the word about us.

You cannot however redistribute, resell, lease, license, sub-license or offer our resources to any third party. This includes uploading our resources to another website, marketplace or media-sharing tool, and offering our resources as a separate attachment from any of your work. If you do plan to include one of our resource on an item or template that will be sold on a website or marketplace, we ask of you to contact us to determine the proper use of our resource before doing so. 

Premium files downloaded with a premium account can be used in a item or website template sold through a marketplace or directly on a website with no attribution required. You cannot however resell or redistribute those premium files as is. Please contact us before using those files in this way to ensure that you abide by our license. IMPORTANT you cannot use any resources from the psd web templates category to create a website theme or template to be sold. They can only be used for personal and commercial projects. 

If you would like to share one of our resource you can do so making a link to the specific resource page on Pixeden.com or/and use our preview images. No HOTLINKING is allowed i.e. you cannot make a direct link to the download or/and the images hosted on Pixeden.com.

---------------------------------------------
Find more great resources @ Pixeden.com
Sincerely,
The Pixeden Team.
---------------------------------------------
http://www.pixeden.com
PS. Those terms might change as we update our license on our website, please be sure to check the latest license terms on our website to avoid any misuse of our resources.
Thank you. 
**************************************************/
.modal-sm {
    width:392px !important;
    height:760px; 
    background:url("../images/contents/mobile_frame.png") no-repeat center;
    background-size:contain;
    position:relative; 
}
.modal-md{
    width:553px !important;
    height:768px; 
    background:url("../images/contents/tablet_frame.png") no-repeat center;
    background-size:contain;
    position:relative; 
}
.modal-lg{
    width:1324px !important;
    height:762px; 
    background:url("../images/contents/laptop_frame.png") no-repeat center;
    background-size:contain;
    position:relative; 
}
.mobile_wrap{
    width:337px;
    height:575px;
    position:absolute; 
    left:26px; 
    top:81px; 
    z-index:5; 
}

.tablet_wrap{
    width:495px;
    height:661px;
    position:absolute; 
    left:28px; 
    top:41px; 
    z-index:5; 
}
.laptop_wrap{
    width: 992px;
    height: 619px;
    position:absolute; 
    left:163px; 
    top:46px; 
    z-index:5; 
}
/*디바이스 데모*/
.device_demo_wrap{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#b3000000, endColorstr=#b3000000)";
    z-index: 3;
}
.device_demo{
    padding-top: 200px;
}
/*modal*/
.mobileModal.modal-dialog{
    margin: 50px auto;
}
.tabletModal.modal-dialog{
    margin: 50px auto;
}
.lapModal.modal-dialog{
    margin: 50px auto;
}