@charset "utf-8";
/**************************************************
*   header type01
**************************************************/
#header .top .flbox button { float:left; width:42px; height:44px; }
#header .top .flbox .btn_gnb { }
#header .top .flbox .logo { float:left; }
#header .top .flbox .logo a { display:inline-block; padding:9px 15px; }
#header .top .flbox .logo a span { display:inline-block; margin-left:13px; margin-top:6px; vertical-align:bottom; font-size:16px; color:#acacac; }

#header .top .frbox > div { float:right; line-height:44px; margin-right:20px; color:#fff; font-size:15px; }
#header .top .frbox .select { padding:9px 15px 9px 14px; line-height:1; }
#header .top .frbox .select .ui-button { width:80px; min-width:auto; height:24px; background:url("../images/common/sel_bg01.png") repeat-x 0 0; background-size:contain; border-color:#0b0c0c; color:#fff; font-size:12px; }
#header .top .frbox .select .ui-icon { background-position:-20px 0; }
#header .top .frbox .ico_com { margin-top:9px; }
#header .top .frbox .ico_com.home { margin-top:14px; }

#header #gnb .gnb_ul > li { position:relative; }
#header #gnb .gnb_ul > li > a { display:table-cell; width:42px; height:40px; text-align:center; vertical-align:middle; }
#header #gnb .gnb_ul > li.on > a { background:url("../images/common/gnb_active.png") repeat-x 0 0; background-size:contain; border:1px solid #0b64d7; }
#header #gnb .gnb_ul > li:hover .gnb_dth_area { display:block; }
#header #gnb .gnb_dth_area { position:fixed; left:42px; top:44px; width:130px; height:100%; border:1px solid #ccc; background-color:#eee; color:#666; display:none; }
#header #gnb .gnb_dth_area h5 { text-align:center; padding:10px; }
#header #gnb .gnb_dth_ul li { padding:0 15px; line-height:2; }
#header #gnb .gnb_dth_ul li:before { content:""; width:4px; height:7px; margin-right:5px; margin-bottom:2px; display:inline-block; background:url("../images/common/ico_common.png") no-repeat 0 0; background-position:-75px -30px; transition:all 0.5s; }
#header #gnb .gnb_dth_ul li:hover:before { background-position:-85px -30px; }
#header #gnb .gnb_dth_ul li.on:before { background-position:-85px -30px; }
#header #gnb .gnb_dth_ul li a { font-size:12px; color:#666; transition:all 0.5s; }
#header #gnb .gnb_dth_ul li:hover a, 
#header #gnb .gnb_dth_ul li.on a { color:#147aff; }

#header #gnb.on .gnb_ul > li.on .gnb_dth_area { display:block; }
#header #gnb.on .gnb_ul > li:hover .gnb_dth_area { z-index:-1; }

