@charset "utf-8";
/**************************************************
*   font-family
**************************************************/
/* NotoSansCJKkr */
@font-face {
    font-family:'NotoSansCJKkr';
    font-style:normal;
    font-weight:900;
    src:url('../fonts/NotoSansCJKkr-Black.woff2') format('woff2'),
        url('../fonts/NotoSansCJKkr-Black.woff') format('woff'),
        url('../fonts/NotoSansCJKkr-Black.ttf') format('truetype');
}
@font-face {
    font-family:'NotoSansCJKkr';
    font-style:normal;
    font-weight:700;
    src:url('../fonts/NotoSansCJKkr-Bold.woff2') format('woff2'),
        url('../fonts/NotoSansCJKkr-Bold.woff') format('woff'),
        url('../fonts/NotoSansCJKkr-Bold.ttf') format('truetype');
}
@font-face {
    font-family:'NotoSansCJKkr';
    font-style:normal;
    font-weight:600;
    src:url('../fonts/NotoSansCJKkr-Medium.woff2') format('woff2'),
        url('../fonts/NotoSansCJKkr-Medium.woff') format('woff'),
        url('../fonts/NotoSansCJKkr-Medium.ttf') format('truetype');
}
@font-face {
    font-family:'NotoSansCJKkr';
    font-style:normal;
    font-weight:500;
    src:url('../fonts/NotoSansCJKkr-Regular.woff2') format('woff2'),
        url('../fonts/NotoSansCJKkr-Regular.woff') format('woff'),
        url('../fonts/NotoSansCJKkr-Regular.ttf') format('truetype');
}
@font-face {
    font-family:'NotoSansCJKkr';
    font-style:normal;
    font-weight:400;
    src:url('../fonts/NotoSansCJKkr-DemiLight.woff2') format('woff2'),
        url('../fonts/NotoSansCJKkr-DemiLight.woff') format('woff'),
        url('../fonts/NotoSansCJKkr-DemiLight.ttf') format('truetype');
}
@font-face {
    font-family:'NotoSansCJKkr';
    font-style:normal;
    font-weight:300;
    src:url('../fonts/NotoSansCJKkr-Light.woff2') format('woff2'),
        url('../fonts/NotoSansCJKkr-Light.woff') format('woff'),
        url('../fonts/NotoSansCJKkr-Light.ttf') format('truetype');
}
@font-face {
    font-family:'NotoSansCJKkr';
    font-style:normal;
    font-weight:100;
    src:url('../fonts/NotoSansCJKkr-Thin.woff2') format('woff2'),
        url('../fonts/NotoSansCJKkr-Thin.woff') format('woff'),
        url('../fonts/NotoSansCJKkr-Thin.ttf') format('truetype');
}

/* Roboto */
@font-face {
    font-family:'Roboto';
    font-style:normal;
    font-weight:900;
    src:url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.woff') format('woff'),
        url('../fonts/Roboto-Black.ttf') format('truetype');
}
@font-face {
    font-family:'Roboto';
    font-style:normal;
    font-weight:700;
    src:url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family:'Roboto';
    font-style:normal;
    font-weight:600;
    src:url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family:'Roboto';
    font-style:normal;
    font-weight:500;
    src:url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family:'Roboto';
    font-style:normal;
    font-weight:400;
    src:url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family:'Roboto';
    font-style:normal;
    font-weight:100;
    src:url('../fonts/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/Roboto-Thin.woff') format('woff'),
        url('../fonts/Roboto-Thin.ttf') format('truetype');
}

/**************************************************
*   reset.css
**************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { 
    border:0; 
    font-size:100%; 
    margin:0; 
    padding:0; 
    vertical-align:baseline; 
    outline:none !important; 
    box-sizing:border-box; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section { 
    display:block; 
}
* { margin:0; padding:0; box-sizing:border-box; outline:none !important; }
body { width:100%; height:100%; position:relative; background-color:#fff; color:#282d33; font-size:12px; font-family:'Roboto', 'NotoSansCJKkr', '맑은 고딕', 'Malgun Gothic', sans-serif; line-height:1.4; font-weight:400; letter-spacing:0; -webkit-text-size-adjust:none; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; }
p, ul, ol, li, dl, dt, dd { list-style-image:none; list-style-position:outside; list-style-type:none; }
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
table {
    width:100%; 
    table-layout:fixed; 
	border-collapse:collapse;
	border-spacing:0;
}
* html table { border-collapse:collapse; }
*+html table { border-collapse:collapse; }
img { 
    max-width:100%; 
    max-height:100%; 
    outline:0; 
    border:0; 
    vertical-align:top; 
}
form, fieldset { border:none; }
a { text-decoration:none; color:#282d33; outline:none; }
a:hover,a:focus, a:active { text-decoration:none; color:#282d33; outline:none; }
em { 
    font-style:normal; 
}

/* ----------------------------------------------------------------------------------------------------
Super Form Reset
A couple of things to watch out for:
- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs
----------------------------------------------------------------------------------------------------*/
input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:baseline;
	white-space:normal;
	background:none;
	line-height:1;
	
	/* Browsers have different default form fonts */
	font-size:13px;
}

/* Remove the stupid outer glow in Webkit */
input:focus
{
	outline:0;
}

/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */
input,
textarea
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/* Text Inputs
-----------------------------------------------*/

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week]
{
}

/* Button Controls
-----------------------------------------------*/

input[type=checkbox],
input[type=radio]
{
	width:13px;
	height:13px;
}

/* File Uploads
-----------------------------------------------*/

input[type=file]
{

}

/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */
input[type=search]
{
	-webkit-appearance:textfield;
	-webkit-box-sizing:border-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
{
	display:none;
}

/* Buttons
-----------------------------------------------*/

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
	/* Fix IE7 display bug */
	overflow:visible;
	width:auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button
{	
	padding:0;
	border:0;
	background:none;
}

/* Textarea
-----------------------------------------------*/

textarea 
{
	/* Move the label to the top */
/*	vertical-align:top;*/
    vertical-align:baseline; 
	
	/* Turn off scroll bars in IE unless needed */
	overflow:auto;
}

/* Selects
-----------------------------------------------*/

select
{
    
}

select[multiple] 
{
	/* Move the label to the top */
/*	vertical-align:top;*/
    vertical-align:baseline; 
}
